.idea/
*.pth
data/*
data_backup/*
data_backup_geo/*
big_geo_data/*.zip
big_geo_data/test/*
big_geo_data/train/*
big_geo_data/trainval/*
big_geo_data/val/*
big_geo_data/val_xml/*
big_geo_data/Sample800/*
big_geo_data/Sample800_norm/*
big_geo_data/annotations/*
big_geo_data/classified_images/*
big_geo_data/data/*
big_geo_data/__pycache__/*
data_seperation/Images/*
data_seperation/imagesBox/*
data_seperation/ImageSets/*
data_seperation/annotations/*
data_seperation/trainval/*
data_seperation/val/*
__pycache__/*
